.page{
    display: flex;
}
.blog-box{
    width: 400px;
    height: 400px;
    background: white;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.crypto-flex{
    display: flex;
    flex-direction: column;
}
.crypto-changes-box{
    width: 400px;
    height: 180px;
    background: white;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}