p{
    margin-top: 0px;
    margin-bottom: 4px;
}
.footer{
    display: flex;
    background: #F0F0F0;
    height: auto;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-top: 4px solid;
    border-image:  linear-gradient(270deg, #FF6B00 0%, #A411EA 100%) 1;
    padding: 20px;
}

.logo{
    width: 65px;
    height: 65px;
    background-color: #0068f0;
    /* margin: 20px; */
}

.text{
    font-family: "Cabin";
    font-size: 30px;
    color: rgba(100, 116, 139, 1);

}

.social{
    display: flex;
    gap: 30px;
}

.main-footer{
    display: flex;
    height: 100%;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.secondary-footer{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    
}



.ref{
    cursor: pointer;
    background-color: transparent;
    border: none;
}



