p{
    margin-top: 0px;
    margin-bottom: 4px;
}
.footer{
    display: flex;
    background: #F0F0F0;
    height: 230px;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-top: 4px solid;
    border-image:  linear-gradient(270deg, #FF6B00 0%, #A411EA 100%) 1;
    padding: 20px;
    right: 0;
    left: 0;
    bottom: 0;
    margin-top: auto !important;
    clear: both;
}

.footer-space {
    height: 230px !important;
}

.logo-footer{
    width: 65px;
    height: 65px;
}

.text{
    font-family: "Cabin";
    font-size: 15pt;
    color: rgba(100, 116, 139, 1);

}

.social{
    display: flex;
    gap: 30px;
}
/* .test */

.main-footer{
    display: flex;
    height: 100%;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.secondary-footer{
    display: flex;
    width: calc(100% - 40px);
    justify-content: space-between;
    align-items: center;

    
}



.ref{
    cursor: pointer;
    background-color: transparent;
    border: none;
}

a, a:visited{
    color: black;
}



