body{
    background-color: #e6e6e6;
}

.login{
    margin-top: 8%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box{
    background-color: white;
    padding: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
    border-radius: 45px;
}

.login-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-text{
    font-family: 'Cabin';
    font-size: 50px;
}
.welcome-text{
    font-family: 'Cabin';
    font-size: 20px;
    padding: 20px;
}

.login-input{
    height: 60px;
    width: 300px;
    margin-top: 40px;
    border: none;
    border-bottom: 3px solid grey;
    border-radius: 6px;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
}
.forgot{
    align-self: end;
    margin-top: 10px;
    font-size: 20px;
    font-family: 'Cabin';
    color: #D1D1D1;
    cursor:pointer;
}

.login-button {
    width: 220px;
    height: 65px;
    margin-top: 40px;
    background-color:#A411EA;
    border-radius:45px;
    border: none;
    display:inline-block;
    cursor:pointer;
    color:white;
    font-family: "Cabin";
    font-size: 24px;
}
.login-button:hover {
	background-color:#710da0;
}
.login-button:active {
	position:relative;
	top:1px;
}

.or{
    font-family: "Cabin";
    color: #D1D1D1;
    font-size: 20px;
    margin: 40px 0px 40px 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.divider{
    width: 100px;
    height: 3px;
    background-color: #D1D1D1;
}

.create-new-account{
    font-size: 24px;
    font-family: 'Cabin';
    color: #F6470F;
    cursor:pointer;
}
.already-have{
    position:absolute;
    font-size: 30px;
    margin-top: 680px;
}

.register-box{
    background-color: white;
    border-radius: 20px;
    display: flex;
    width: 1000px;
    height: 900px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.input-default-text{
    font-family:'Cabin';
    color: #D1D1D1;
    font-size: 20px;
}
.footer 	{ text-align:center; }
.footer a  { color:#53B2C8; }

/* form starting stylings ------------------------------- */
.group-first 			  { 
position:relative; 
margin-bottom:30px; 
}
.group{
    position:relative; 
}
input 				{
font-size:18px;
padding:10px 10px 10px 5px;
display:block;
width:300px;
border:none;
border-bottom:3px solid #D1D1D1;
}
input:focus 		{ outline:none; }

/* LABEL ======================================= */
label 				 {
color:#999; 
font-size:18px;
font-weight:normal;
position:absolute;
pointer-events:none;
left:5px;
top:10px;
transition:0.2s ease all; 
-moz-transition:0.2s ease all; 
-webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
top:-15px;
font-size:14px;
color:#A411EA;
}

/* BOTTOM BARS ================================= */
.bar 	{ display:block; width:300px; }
.bar:before, .bar:after 	{
content:'';
height:3px; 
width:0;
bottom:0.01px; 
position:absolute;
background:#A411EA; 
transition:0.2s ease all; 
-moz-transition:0.2s ease all; 
-webkit-transition:0.2s ease all;
}
.bar:before {
left:50%;
}
.bar:after {
right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
position:absolute;
height:60%; 
width:100px; 
top:25%; 
left:0;
pointer-events:none;
opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
-webkit-animation:inputHighlighter 0.3s ease;
-moz-animation:inputHighlighter 0.3s ease;
animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from { background:#A411EA; }
to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
    from { background:#A411EA; }
to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
    from { background:#A411EA; }
to 	{ width:0; background:transparent; }
}