.full-site{
    width: 100%;
    height: 350vh;
}

.first-con{
    width: auto;
    height: 100vh;
}

.second-con{
    width: 100%;
    height: 120vh;
    display: flex;
    align-items: center;
}

.colour-background{
    position: absolute;
    width: 100%;
    z-index:-1;
}

.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 65px;
    padding: 60px;
}
.text-menu{
    display: flex;
    gap: 30px;
    
}
.specific-text-menu{
    font-family: "Cabin";
    font-size: 30px;
    color: white;
    letter-spacing: 5px;
    transition: 0.3s;
    cursor: pointer;
}

.specific-text-menu:hover{
    color: #fa8e00;
    animation: fadeBackground 4s;
    animation-fill-mode: forwards;
}

@keyframes fadeBackground {
    0% { color: white; }
    20% { color: #ff5100; }
    100% { color: #6900a7; }
}

.text-button{
    background-color: transparent;
    border: none;
}

.sign-in-button{
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 65px;
    border-radius: 45px;
    border: none;
    transition: 0.3s;
    background-color: rgba(255, 255, 255, 0.281);

}
.sign-in-button:hover{
    background-color: rgba(255, 255, 255, 0.466);
    box-shadow: 0px 0px 20px -13px rgba(0, 0, 0, 1);
}
.sign-in{
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: "Cabin";
    font-size: 30px;
    padding: 0px 30px;
    color: white;
}
.logo{
    width: 65px;
    height: 65px;
    background-color: #0068f0;
}

.compare-main-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
    align-items: center;
}

.left-main-box{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.title{
    position: relative;
    font-family: "Cabin";
    font-size: 78px;
    width: 725px;
    animation-name: title;
    animation-duration: 0.9s;
    /* overflow-wrap: break-word; */
}

.additional-text{
    font-family: "Cabin";
    font-size: 32px;
    animation-name: title;
    animation-duration: 0.9s;
    width: 683px;
}

@keyframes title {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }


.left-main-box-div-buttons{
    display: flex;
    gap: 25px;
}

.left-main-box-button{
    cursor: pointer;
    border-radius: 45px;
    width: 250px;
    height: 75px;
    transition: 0.3s;
}
.left-button{
    border: none;
    background-color: #A411EA;
}

.left-button:hover{
    box-shadow: 0px 0px 20px -8px rgba(0, 0, 0, 1);
}

.right-button{
    border-style: solid;
    border-width: 4px;
    border-color: #F6470F;
}

.right-button:hover{
    box-shadow: 0px 0px 20px -8px rgba(0, 0, 0, 1);
}
.start-now{
    font-family: "Cabin";
    font-size: 32px;
    color: white;
}

.contact{
    font-family: "Cabin";
    font-size: 32px;
    color: #F6470F;
}

.second-group-text{
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
}

.right-second-box{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.second-group{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;   
}
.third-group{
    display: flex;
    width: 100%;
    height: 120vh;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    gap: 20px;
}

.title-join-com{
    position: relative;
    font-family: "Cabin";
    font-size: 78px;
    width: auto;
}

div.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.gradient-text{
    font-family: "Cabin";
    font-size: 40px;
    background: linear-gradient(270deg, #FF6B00 0%, #A411EA 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

div.feature .text{
    font-family: 'Cabin';
    width: 385px;
    font-size: 32px;
    display: flex;
    align-items: center;
    text-align: center;
}


.join_now{
    display: flex;
    cursor: pointer;
    border-radius: 45px;
    width: 440px;
    /* height: 200px; */
    transition: 0.3s;
    border: none;
    background-color: #F7470F;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.join_now:hover{
    box-shadow: 0px 0px 20px -8px rgba(0, 0, 0, 1);
}

p.join-now{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Cabin";
    font-size: 32px;
    color: white;
    height: 80px;
}

*::-webkit-scrollbar {
    background-color:#fff;
    width:16px;
}

*::-webkit-scrollbar-track {
background-color:#fff;
}

*::-webkit-scrollbar-track:hover {
background-color:#f4f4f4
}

*::-webkit-scrollbar-thumb {
background-color:#babac0;
border-radius:16px;
border:5px solid #fff;
}

*::-webkit-scrollbar-thumb:hover {
background-color:#a0a0a5;
border:4px solid #f4f4f4;
}

*::-webkit-scrollbar-button {
display:none;
}

/* @media (max-width: 576px) {
    
} */