.main-box{
    display: flex;
    min-width: auto;
    max-width: 1920px;
    margin: 20px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-box-rooms{
    gap: 20px 20px;
    flex-direction: row;
}

.single-room{
    display: flex;
    height: 250px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.single-room:hover {
	filter: brightness(85%);
}
.single-room:active {
	position:relative;
	top:1px;
}
.room-image{
    margin: 20px;
    object-fit: cover;
    width: 200px;
    height: 150px;
    object-position: 40%;
}
.room-name{
    font-family: 'Cabin';
    font-size: 20px;
    margin-bottom: 20px;
}
.btn{
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    background-color: white;
    width: auto;
}

.btn-style{
    background-color: transparent;
    cursor: pointer;
    border: none;
    font-size: 25px;
    padding: 10px;
    transition: 0.3s;
}

 .btn-right{
    border-radius: 0px 20px 20px 0px;
} 

.btn-left{
    border-radius: 20px 0px 0px 20px;
} 

.btn-left:hover{
    background-color: #d6adf7;
}
.btn-right:hover{
    background-color: #f7d5ad;
}

