.crypto-room{
    display: flex;
    /* justify-content: flex-end; */
    max-width: 1920px;
    padding: 30px;
    gap: 30px;
    flex-shrink: 0;
    flex-grow: 1;
}

.chat-flex{
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    height: 587px;
    align-items: center;
    padding: 20px;
    background: white;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
}
.chat-name{
    font-family: 'Archivo', sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
}
.chat{
    width: 400px;
    height: 587px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: visible;
}
.conversation{
    height: 100%;
    font-family:'Cabin';
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow: auto;
}

.message-submit-box{
    display: flex;
    bottom: 0px;
    gap: 10px;
}

.send-message{
    width: 40%;
}

.chat-text-message{
    display:inline-block;
    width: 100%;
    max-width: 100%;
    max-height: 100px;
    background-color: #E1E1E1;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    overflow-wrap: break-word;
    padding: 5px;
    overflow: auto;
}
.text-area{
    margin-left: 15px;
    margin-right: 5px;
    max-width: 250px;
}

.text-area:empty:not(:focus)::before {
    content: attr(data-placeholder);
    color: #737373;
    margin-left: 5px;
  }

.different-user-mess{
    /* display:inline-block; */
    
}
.diff-mess-box{
    background: linear-gradient(90deg, #B11DCA 0%, #F7470F 96.87%);
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 10px;
    color: white;
    max-width: 70%;
    word-break: break-all
}
.our-mess{
    display:flex;
    width: 100%;
    justify-content: flex-end;
    
}
.our-mess-box{
    display:inline-block;
    background: #E1E1E1;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 10px;
    align-self: flex-end;
    max-width: 70%;
    overflow-wrap: break-word;
}

.messeges{
    display:flex;
}
.mess{
    display:flex;
    flex-direction: column;
}

.info{
    font-size: 14px;
    color: #a09c9c;
}

.control-bar{
    
    display: flex;
    overflow: hidden;
    background-color: white;
    font-family:'Cabin';
    font-size: 20px;
    height: 60px;
    width: 800px;
    margin-top: 30px;
    align-self: center;
    justify-content: center;
    border-radius: 30px;
}

.main-room-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.room-image-settings{
    background-color: black;
    width: 50px;
    height: 50px;
}
.control-bar-wrapper{
    width: 100%;
    /* height: 100%; */
    /* padding: 0px 40px 0px 40px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.control-bar-action{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.control-bar-action:hover{
    background-color: #E1E1E1;
    cursor: pointer;
}


