{% extends 'includes/login_register_header.html' %}

{% block content %}
     <ul>
      <li><a href="/register/">Register</a></li>
    </ul>
    <p>Login</p>

    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <div>
            <input type="text" placeholder="Email" name="email">
        </div>
        <div>
            <input type="password" placeholder="Password" name="password">
        </div>
        <button type="submit">Submit</button>
    </form>
    {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
    {% endif %}
{% endblock %}
