{% extends 'includes/login_register_header.html' %}

{% block content %}
<div class="register action_box">
    <p>Register</p>
    <div class="login_form">
        <form method="POST" action="{% url 'register' %}">
            {% csrf_token %}
            <div class="div_login_input">
                {{ form.first_name }}
            </div>
            <div class="div_login_input">
                {{ form.last_name }}
            </div>
            <div class="div_login_input">
                {{ form.email }}
            </div>
            <div class="div_login_input">
                {{ form.password1 }}
            </div>
            <div class="div_login_input">
                {{ form.password2 }}
            </div>
            <p style="margin-top:15px; font-size:20px">Already have an account? <a href="{% url 'login' %}">Log in</a></p>
            <button class='register_button_full login_buttons' type="submit"><p>Register</p></button>
        </form>
        {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
        {% endif %}
    </div>
</div>
{% endblock %}
