{% extends 'includes/login_register_header.html' %}

{% block content %}
    <ul>
      <li><a href="/login/">Login</a></li>
    </ul>
    <p>Register</p>

    <form method="POST" action="{% url 'register' %}">
        {% csrf_token %}
        <div>
            {{ form.first_name }}
        </div>
        <div>
            {{ form.last_name }}
        </div>
        <div>
            {{ form.email }}
        </div>
        <div>
            {{ form.password1 }}
        </div>
        <div>
            {{ form.password2 }}
        </div>
        <button type="submit">Submit</button>
    </form>
    {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
    {% endif %}
{% endblock %}
